Repository DeveloperAcademy-POSTECH/chagokchagok, pull requests merged in 2022-06, with the labels that each got.

#21 [Feat] Pin 수정 및 상세 페이지 연동 추가 업데이트
  .DS_Store
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/ChagokChagokApp.swift
  ChagokChagok/ChagokChagok/ContentView.swift
  ChagokChagok/ChagokChagok/Data/Persistence.swift
  ChagokChagok/ChagokChagok/Helper/FavoriteButton.swift
  ChagokChagok/ChagokChagok/PinView/PinDetailView.swift
  ChagokChagok/ChagokChagok/PinView/PinEditView.swift
  ChagokChagok/ChagokChagok/PinView/PinListView.swift
Labels: Pin, 💁🏻Hiro, Core Data

#32 [Add] 즐겨찾기 뷰 UI 껍데기 구현
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/Assets.xcassets/맛집.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/맛집.imageset/KakaoTalk_Photo_2022-06-14-01-41-45 001.png
  ChagokChagok/ChagokChagok/Assets.xcassets/자연.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/자연.imageset/KakaoTalk_Photo_2022-06-14-01-41-45 002.png
  ChagokChagok/ChagokChagok/Assets.xcassets/카페.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/카페.imageset/KakaoTalk_Photo_2022-06-14-01-41-35.png
  ChagokChagok/ChagokChagok/Data/Data.swift
  ChagokChagok/ChagokChagok/ListCell.swift
  ChagokChagok/ChagokChagok/MainView.swift
  ChagokChagok/ChagokChagok/MyFavoriteView.swift
Labels: 💁🏻Brown, FavoriteView

#36 [Design] UI컬러 익스텐션 추가
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/UIcolors.swift
Labels: 💁🏻Aesop

#33 [Feat] 내핀(지도뷰)생성 및 coreLocation 받아오는 기능 구현
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/coreLocation/LocationData/LocationsData.swift
  ChagokChagok/ChagokChagok/coreLocation/Models/Location.swift
  ChagokChagok/ChagokChagok/coreLocation/ViewModels/LocationsViewModel.swift
  ChagokChagok/ChagokChagok/coreLocation/Views/LocationDetailView.swift
  ChagokChagok/ChagokChagok/coreLocation/Views/LocationMapAnnotationView.swift
  ChagokChagok/ChagokChagok/coreLocation/Views/LocationPreviewView.swift
  ChagokChagok/ChagokChagok/coreLocation/Views/LocationsListView.swift
  ChagokChagok/ChagokChagok/coreLocation/Views/LocationsView.swift
Labels: Pin, 💁🏻Jack, mapKit

#30 [Add] Main view UI 껍데기 구현
  .gitignore
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/Assets.xcassets/tempDriveStart.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/tempDriveStart.imageset/Image.png
  ChagokChagok/ChagokChagok/Assets.xcassets/tempMyCourse.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/tempMyCourse.imageset/Image.png
  ChagokChagok/ChagokChagok/Assets.xcassets/tempMyFavorite.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/tempMyFavorite.imageset/Image.png
  ChagokChagok/ChagokChagok/Assets.xcassets/tempMyPin.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/tempMyPin.imageset/Image.png
  ChagokChagok/ChagokChagok/Assets.xcassets/맛집.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/맛집.imageset/KakaoTalk_Photo_2022-06-14-01-41-45 001.png
  ChagokChagok/ChagokChagok/Assets.xcassets/자연.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/자연.imageset/KakaoTalk_Photo_2022-06-14-01-41-45 002.png
  ChagokChagok/ChagokChagok/Assets.xcassets/카페.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/카페.imageset/KakaoTalk_Photo_2022-06-14-01-41-35.png
  ChagokChagok/ChagokChagok/ContentView.swift
  ChagokChagok/ChagokChagok/Data/Data.swift
  ChagokChagok/ChagokChagok/Helper/ImageStyle.swift
  ChagokChagok/ChagokChagok/Helper/TextStyle.swift
  ChagokChagok/ChagokChagok/Helper/ViewStyle.swift
  ChagokChagok/ChagokChagok/ListCell.swift
  ChagokChagok/ChagokChagok/MainView.swift
  ChagokChagok/ChagokChagok/MyFavoriteView.swift
  ChagokChagok/ChagokChagok/RecentRecord.swift
Labels: MainView, 💁🏻Brown

#42 [Chore] 사라진 파일 복구
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/CategoryScroll.swift
  ChagokChagok/ChagokChagok/MyCourseListView.swift
Labels: Course, 💁🏻Aesop, SelectCategoryView

#43 [Feat] Main과 MyCourseView 연결
  ChagokChagok/ChagokChagok/MainView.swift
  ChagokChagok/ChagokChagok/MyCourseListView.swift
Labels: MainView, 💁🏻Aesop

#52 [Feat] 드라이브 시작 뷰 구현 (#48)
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/Assets.xcassets/DriveDone.imageset/Contents.json
  ChagokChagok/ChagokChagok/Assets.xcassets/DriveDone.imageset/DriveDone.svg
  ChagokChagok/ChagokChagok/ContentView.swift
  ChagokChagok/ChagokChagok/CountDownView.swift
  ChagokChagok/ChagokChagok/MainView.swift
  ChagokChagok/ChagokChagok/RecordingView.swift
Labels: 💁🏻Aesop

#63 [Fix] MainView Title 깨지는 문제
  ChagokChagok/ChagokChagok/ContentView.swift
  ChagokChagok/ChagokChagok/MainView.swift
Labels: bug, MainView, 💁🏻Brown

#65 [Feat] 즐겨찾기 없을 때 대체텍스트 띄우는 기능 추가
  ChagokChagok/ChagokChagok/MyFavoriteView.swift
Labels: 💁🏻Brown, FavoriteView

#66 [Chore] isEmpty 관련 lint 규칙 제거
  ChagokChagok/.swiftlint.yml
Labels: 💁🏻Brown

#68 [Fix] 리스트에서 오른쪽 화살표가 생기는 문제 해결
  ChagokChagok/ChagokChagok/MyFavoriteView.swift
  ChagokChagok/ChagokChagok/View/CourseView/CourseListView.swift
  ChagokChagok/ChagokChagok/View/PinView/PinListView.swift
Labels: bug, ListView, 💁🏻Brown

#70 [Fix] 리스트 패딩값 수정 및 즐겨찾기 버튼 수정
  ChagokChagok/ChagokChagok/ListCell.swift
  ChagokChagok/ChagokChagok/View/CourseView/ListCellForCourse.swift
Labels: bug, ListView, 💁🏻Brown

#72 [Design] 메인 화면 gif 이미지 버튼 추가
  ChagokChagok/ChagokChagok.xcodeproj/project.pbxproj
  ChagokChagok/ChagokChagok/InputGif.swift
  ChagokChagok/ChagokChagok/MainView.swift
  ChagokChagok/ChagokChagok/wheelBtn.gif
Labels: MainView, 💁🏻Aesop

#73 [Add] Course Detail View에 map 추가
  ChagokChagok/ChagokChagok/View/CourseView/CourseDetailView.swift
Labels: DetailView, Course, 💁🏻Brown
